---
const today = new Date();
---

<footer class="bg-primary">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav
      class="-mb-1.5 columns-2 sm:flex sm:justify-center sm:space-x-12"
      aria-label="Footer"
    >
      <div class="pb-6">
        <a href="/about" class="text-sm leading-6 text-white">About</a>
      </div>
      <div class="pb-6">
        <a href="/blog" class="text-sm leading-6 text-white">Blog</a>
      </div>
      <div class="pb-6">
        <a href="/speaking" class="text-sm leading-6 text-white">Speaking</a>
      </div>
      <div class="pb-6">
        <a href="/cookie" class="text-sm leading-6 text-white">Cookie</a>
      </div>
      <div class="pb-6">
        <a href="/privacy" class="text-sm leading-6 text-white">Privacy</a>
      </div>
      <div class="pb-6">
        <a href="/terms" class="text-sm leading-6 text-white">Terms</a>
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">
      <a href="https://github.com/davideimola" class="text-gray-400">
        <span class="sr-only">GitHub</span>
        <i class="fa fa-github text-2xl h-6 w-6"></i>
      </a>
      <a href="https://linkedin.com/in/davideimola" class="text-gray-400">
        <span class="sr-only">LinkedIn</span>
        <i class="fa fa-linkedin text-2xl h-6 w-6"></i>
      </a>
      <a href="https://instagram.com/davideimola" class="text-gray-400">
        <span class="sr-only">Instagram</span>
        <i class="fa fa-instagram text-2xl h-6 w-6"></i>
      </a>
      <a href="https://twitter.com/davideimola" class="text-gray-400">
        <span class="sr-only">Twitter</span>
        <i class="fa fa-twitter text-2xl h-6 w-6"></i>
      </a>
    </div>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">
      &copy; {new Date().getFullYear()} Davide Imola All rights reserved.
    </p>
  </div>
</footer>

<script
  is:inline
  src="https://kit.fontawesome.com/38b011d855.js"
  crossorigin="anonymous"></script>

<script is:inline type="text/javascript">
  var _iub = _iub || [];
  _iub.csConfiguration = {
    countryDetection: true,
    enableUspr: true,
    lang: "en",
    perPurposeConsent: true,
    siteId: 2109199,
    whitelabel: false,
    cookiePolicyId: 20195792,
    banner: {
      acceptButtonDisplay: true,
      closeButtonRejects: true,
      customizeButtonDisplay: true,
      explicitWithdrawal: true,
      listPurposes: true,
      position: "float-bottom-center",
      rejectButtonDisplay: true,
    },
  };
</script>
<script is:inline type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"
></script>
<script
  is:inline
  type="text/javascript"
  src="//cdn.iubenda.com/cs/iubenda_cs.js"
  charset="UTF-8"
  async></script>
